body {
    padding: 5px;
    font-size: large;
    .inline {
        gap: 10px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    #code {
        height: 15rlh;
        resize: vertical;
    }
    #code,
    #result {
        font-family: monospace;
    }
    textarea {
        width: 100%;
    }
}
