body {
    font-size: large;
}
.inline-elements {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#code {
    height: 15rlh;
    resize: vertical;
}
#code,
#result {
    font-family: monospace;
}
